.admin-dashboard {
  display: flex;
  min-height: 100vh;
  background-color: #f5f6fa;
}

/* SIDEBAR */
.admin-sidebar {
  width: 260px;
  background-color: #1e272e;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  margin-bottom: 20px;
  font-size: 20px;
}

.admin-sidebar button {
  background: none;
  border: none;
  color: white;
  padding: 12px;
  margin-bottom: 10px;
  text-align: left;
  cursor: pointer;
  border-radius: 6px;
}

.admin-sidebar button:hover {
  background-color: #485460;
}

.admin-sidebar button.active {
  background-color: #0fbcf9;
  color: black;
  font-weight: bold;
}

/* CONTENT */
.admin-content {
  flex: 1;
  padding: 40px;
  background-color: #ffffff;
}

.admin-content h2 {
  font-size: 26px;
  color: #2f3640;
}
